.container{
    background-color: rgb(195, 191, 191);
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
font-size: 20px;
color: rgb(62, 61, 61);

  .logo{
margin-left: 40px;

  }
  .logo_img{
    margin-left: 8px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
  }
  .navigation{
    margin-right: 40px;
  }
  .navigation_link{
    text-decoration: none;
    color: rgb(62, 61, 61);
    margin-left: 10px;
  }
  @media (max-width: 600px) {
      font-weight: 600;
font-size: 16px;
padding: 10px;
 .logo_img{
    margin-left: 8px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
  }
   .logo{
margin-left: 10px;

  }
    .navigation{
    margin-right: 10px;
  }
  }
  
   
}